#faq{
    background:  #fffff8;
    padding-top: 20px;
    padding-bottom: 40px;
}

.faq__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 40px;
    padding: 20px;
    padding-bottom: 30px;
}

@media only screen and (max-width: 800px) {
  .faq__container {
    grid-template-columns: 1fr 1fr;
    padding:40px;
    padding-top: 0;
  }
}

@media only screen and (max-width: 576px) {
  .faq__container {
    grid-template-columns: 1fr;
    padding:40px;
    padding-top: 0;
  }
}

.faq__header{
padding-bottom: 20px;
font-size: 2.5em;
font-family: "Sofia Sans", sans-serif;
margin-left: 20px;
}

.faq__block{
    background-color: #c9e0f5;
    padding: 20px;
    border-radius: 40px;
    transition: all 0.3s ease-in-out 0.3s;
}

.faq__container > div:has(.faq__block){
    grid-row-start: span 2;
}

.faq__block:hover
{
    box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.3);
    transform: translateY(-10px);
    transition: all 1s ease-in-out 0s;
}
.faq__block h2{
    font-family: "Sofia Sans", sans-serif;
}

.faq__block h3{
    margin-top: 16px;
    font-family: "Sofia Sans", sans-serif;
}

.faq__block p{
    font-family: "Sofia Sans", sans-serif;
}

.faq__container > div:has(.faq__block):nth-child(odd)  .faq__block{
    background-color: #d8e6d8;
    padding: 20px;
    border-radius: 40px;
    height: 100%;
}
.faq__container > div:has(.faq__block):nth-child(even)  .faq__block{
    background-color: #cae0d5;
    padding: 20px;
    border-radius: 40px;
    height: 100%;
}

.faq__container > div:has(.faq__block):nth-child(1){
    grid-row-start: span 3;
}
.faq__container > div:has(.faq__block):nth-child(3){
    grid-row-start: span 3;
}

@media only screen and (max-width: 800px) {
.faq__container > div:has(.faq__block):nth-child(3){
    grid-row-start: span 2;
}
}
