.footer {
    background: url("../img/footer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    border-top: 4px solid #f8f6c6;
    padding-top: 100px;
    font-family: "Sofia Sans", sans-serif;
    backdrop-filter: blur(12px);
}

.footer__container {
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: black;
    background: white;
    column-gap: 80px;
    row-gap: 80px;
    border-radius: 10px 10px 0px 0px;
}

@media only screen and (max-width: 1200px) {
    .footer__container {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .footer__container {
        grid-template-columns: 1fr;
    }
}

.footer__title {
    color: black;
    font-family: "Great Vibes", serif;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 20px;
}

.footer__link {
    font-family: "Sofia Sans", sans-serif;
    color: black;
    text-decoration: none;
    font-style: italic;
}

.footer__bottom {
    border-top: 6px solid salmon;
    padding-top: 10px;
    color: white;
    background-color: black;
    text-align: center;
}

.footer__authors {
    color: white;
    background-color: black;
    text-align: center;
    padding-bottom: 20px;
}

.footer__input {
    font-family: "Sofia Sans", sans-serif;
    color: black;
    text-decoration: none;
    font-style: italic;
    padding: 2px 4px;
}

.footer__button {
    margin-top: 6px;
    font-family: "Sofia Sans", sans-serif;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 2px 4px;
}