* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Serif", serif;
  background-color: white;
  line-height: 1.6;
  background: url("../img/gray_noise.png")
}

.card {
  background-color: #ffffff;
  border: 2px solid #0c907e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.card h2 {
  color: #0c907e;
  font-size: 1.5em;
}

.card p {
  font-size: 1em;
  margin: 10px 0;
}

.price,
.note {
  font-weight: bold;
  color: #0c907e;
}