#services {
  background-image: url("../img/witch.jpg");
  border-top: 8px solid #ffffe1;
  border-bottom: 8px solid #ffffe1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.servicer__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 40px;
}

@media only screen and (max-width: 1200px) {
  .servicer__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 40px;
  }
}

.services__header {
  font-family: "Great Vibes", serif;
  font-size: 2.3em;
  color: black;
  background-color: #c7a2f5;
  border-radius: 40px;
  position: relative;
  top: -2em;
  left: 3em;
  border-bottom: 8px solid #8f67bf;
  border-top: 8px solid white;
  height: min-content;
  width: min-content;
  padding: 8px 32px;
}

.service-card {
  font-family: "Sofia Sans", sans-serif;
  /* box-shadow: inset 0px 0px 12px 0px rgba(255, 255, 255, 1);
 */
  border: 2px solid white;
  border-radius: 30px;
  padding: 16px;
  background-color: #242424;
  /* backdrop-filter: blur(12px);
 */
}

.service-card__title {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.2em 0 0.2em 0.8em;
  color: black;
  background: #ffffe1;
  border-radius: 14px;
  margin-bottom: 8px;
  border-bottom: 6px solid #dbdbc1;

}

.service-card__description {
  font-size: 1em;
  color: white;
  margin-bottom: 8px;
}

.service-card__price {
  font-weight: bold;
  font-size: 1.2em;
  color: white;
  margin-bottom: 8px;
}

.service-card__extra {
  font-size: 0.9em;
  color: white;
  font-style: italic;
}