#shop {
    background: #e0f7e5;
    padding: 0px 15px 100px 20px;
    font-family: 'Arial', sans-serif;
}

.shop-title {
    margin-left: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: "Sofia Sans", sans-serif;
    font-size: 2.4em;
    text-align: left; /* Додаткове вир////////я заголовка */
    letter-spacing: 2px;
    color:black;
    font-weight: bold;
}

#shop .shop__wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    column-gap: 40px;
    row-gap: 40px;
    padding: 20px;
    padding-bottom: 30px;
}

#shop .shop__content {
    background: white;
    padding: 30px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрування по вертикалі */
    align-items: center; /* Центрування по горизонталі */

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#shop .shop__content:hover {
    transform: translateY(-10px);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
}

#shop .shop__image-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    margin-bottom: 25px;
}

#shop p{
    margin-bottom: 20px;
}

#shop .shop__image {
    width: 100%;
    height: absolute;
    object-fit: cover;
    transition: transform 0.4s ease 0.1s, filter 0.4s ease 0.1s;
    filter: brightness(0.95) saturate(0.8);
}

#shop .shop__content:hover .shop__image {
    filter: brightness(1) saturate(1);
    transform: scale(1.1);
}

#shop h3 {
    font-size: 1.3rem;
    color:black;
    margin: 15px 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: "Sofia Sans", sans-serif;
}

.btng {
    font-family: "Sofia Sans", sans-serif;
    background-color: #b33a3a; /* Бордовий колір */
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.1rem;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btng:hover {
    background-color: #992d2d; /* Трохи темніший бордовий */
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.btng:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(179, 58, 58, 0.6);
}

.old-price {
    font-family: "Sofia Sans", sans-serif;
    text-decoration: line-through;
    font-style: italic;
    font-weight: 400;
    color: #999;
    font-size: 1.3rem;
    margin-right: 10px;
}

.new-price {
    font-family: "Sofia Sans", sans-serif;
    color: #e74c3c;
    font-weight: 400;
    font-size: 1.3rem;
}


@media (max-width: 1024px) {
    #shop h2 {
        font-size: 1.8rem;
    }

    #shop .shop__wrap {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px; /* Збільшена відстань між картками */
    }

    #shop .shop__content {
        height: 500px;
    }
}

@media (max-width: 768px) {
    #shop h2 {
        font-size: 1.6rem;
    }

    #shop .shop__wrap {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px; /* Збільшена відстань між картками */
    }

    .btng {
        padding: 10px 20px;
    }

    #shop .shop__content {
        height: 520px;
    }
}

@media (max-width: 480px) {
    #shop h2 {
        font-size: 1.4rem;
    }

    #shop .shop__wrap {
        grid-template-columns: 1fr;
        gap: 15px; /* Збільшена відстань між картками */
    }

    #shop p {
        font-size: 0.9rem;
    }

    .btng {
        padding: 8px 16px;
    }

    #shop .shop__content {
        height: 550px;
    }
}
